body {
  background: rgb(225, 225, 225);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 100px;
}

#play {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px 20px;
}

#draw {

  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 100px;
}
.start-button {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 18px;
  padding: 10px 30px;
  border: none;
  border-radius: 10px;
  background: rgb(173, 173, 173);
 }

.start-button:hover {
  opacity: 0.9;
}

.start-button:active {
  transform: translate(1px, 1px);
  box-shadow: -1px -1px 1px 0 rgb(131, 131, 131);
}

#play-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.alphabet {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin-top: 30px;
  height: 100%;
}


.single-letter {
  width: 40px;
  height: 40px;
  margin: 3px;
  font-weight: bold;
  background-color: white;
  border: 1px solid gray;
}

#word {
  font-size: 36px;
  margin: 10px;
}

#message, #chances {
  font-weight: bold;
  font-size: 20px;
  height: 20px;
}

#my-canvas {

  height: 300px;
  width: 400px;
  margin-right: 50px;
}